.root {
    -main-color: #c6faf6;
    -sec-color: #eee;
    -circ-stroke: #5ad8cc;
}

.cell{
    -fx-background-color: -sec-color;
}

.num-cell{
    -fx-background-color: -main-color;
}

.texting-cell{
    -fx-background-color: #fff;
}

.floyd-node {
    -fx-fill: -main-color;
    -fx-stroke: -circ-stroke;
    -fx-stroke-width: 2px;
    -fx-stroke-type: inside;
}

.floyd-node:hover {
    -fx-fill: #2ecc71;
    -fx-stroke: #27ae60;
}